*
!.mvn/
!.mvn/**
!mvnw
!src/
src/*
!src/backend/
!src/backend/pom.xml
!src/backend/src/
!src/backend/src/**
!src/frontend/
!src/frontend/package.json
!src/frontend/package-lock.json
!src/frontend/index.html
!src/frontend/tsconfig.json
!src/frontend/vite.config.ts
!src/frontend/src/
!src/frontend/src/**
!src/algorithm/
!src/algorithm/requirements.lock
!src/algorithm/algorithm_service/
!src/algorithm/algorithm_service/**
!packaging/
packaging/*
!packaging/docker/
packaging/docker/*
!packaging/docker/backend-entrypoint.sh
